<div class="club-header-section">
  <div class="club-bg-img">
  </div>
  <div [ngStyle]="{'background': randomColor}" class="club-information-container">
    <div class="club-information-content">
      <div class="team-title">
      </div>
      <div class="club-logo-container">
        <img class="logo-img" src="../../../assets/logos/liverpool-logo-vector.png" alt="fetching team logo">
      </div>
      <div class="text-center mt-3">
        <h3>Liverpool</h3>
      </div>
      <div class="club-stadium">

        <img class="stadium-img" src="../../../assets/logos/stadium.png" alt="Fetching stadium">
        <p>Anfield</p>
      </div>

      <div class="club-socials">
        <div class="club-socials-container">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-share"
               viewBox="0 0 16 16">
            <path
              d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
          </svg>
        </div>
        <div class="club-socials-container">
          <img src="../../../assets/logos/instagram.png" alt="fetching socials">
        </div>
        <div class="club-socials-container">
          <img src="../../../assets/logos/twitter.jpg" alt="fetching socials">
        </div>
        <div class="club-socials-container">
          <img src="../../../assets/logos/face-book.jpg" alt="fetching socials">
        </div>
      </div>
    </div>
  </div>

</div>
