<div class="club-header-section">
  <div class="club-bg-img">
  </div>
  <div [ngStyle]="{'background': randomColor}" class="club-information-container">
    <div class="club-information-content">
      <div class="team-title">
      </div>
      <div class="club-logo-container">
        <img class="logo-img" src="../../../assets/logos/liverpool-logo-vector.png" alt="fetching team logo">
      </div>
      <div class="text-center mt-3">
        <h3>Liverpool</h3>
      </div>
      <div class="club-stadium mt-3">
        <img class="stadium-img" src="../../../assets/img/stadium-a1.png" alt="Fetching stadium">
        <p>Anfield</p>
      </div>
      <div class="club-socials mt-3">
        <div class="club-socials-container">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-share"
               viewBox="0 0 16 16">
            <path
              d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
          </svg>
        </div>
        <div class="club-socials-container">
          <img src="../../../assets/logos/instagram.png" alt="fetching socials">
        </div>
        <div class="club-socials-container">
          <img src="../../../assets/logos/twitter.jpg" alt="fetching socials">
        </div>
        <div class="club-socials-container">
          <img src="../../../assets/logos/face-book.jpg" alt="fetching socials">
        </div>
      </div>
    </div>
    <!--  club information tabs-->
    <div class="club-info-tabs mt-3">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                  role="tab" aria-controls="home" aria-selected="true">Overview
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                  role="tab" aria-controls="profile" aria-selected="false">Squad
          </button>
        </li>
        <li class="nav-item dropdown">
          <button class="nav-link" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            More
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
              </svg>
            </span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" routerLink="/fixtures/fixtures-view">Fixtures</a></li>
            <li><a class="dropdown-item" routerLink="/results/results-view">Results</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!--  Club information tab content-->
  <div class="tab-content" id="myTabContent">
    <!--  club over view-->
    <div class="tab-pane fade show active p-5" id="home" role="tabpanel" aria-labelledby="home-tab">
      <h1 class="">Club History</h1>
      <img style="width: 100%" src="../../../assets/logos/team-squad.jpg" alt="fetching-team-squad">
      <p class="pt-3">
        In late 1886, a gaggle of workers from the Woolwich Arsenal Armament Factory decided to form a football team.
        They called themselves Dial Square as a reference to the sundial atop the entrance to the factory.
      </p>
    </div>
    <!--  club squad-->
    <div class="tab-pane fade p-5" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="squad-container mb-4 mt-3" *ngFor="let n of numSeq(11)">
        <div class="player-information">
          <img style="width: 50px;height: 50px;" src="../../../assets/logos/player-img.png" alt="fetching-player">
          <h1>12</h1>
          <div class="player-name-position">
            <p>Alisson</p>
            <p>Goalkeeper</p>
          </div>
        </div>

        <div class="view-more-on-player">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </div>
      </div>
    </div>
  </div>

</div>
