@import "../../styles";

.tabs-container-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  //padding: 15px;
}

.tabs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  background: $headline-color;
  border-radius: 3px;
  padding: 2px;

  li {
    font-size: 16px;

    button {
      width: 147px;
    }

    .nav-link {
      color: $base-secondary-color;
    }

    .nav-link.active {
      background: $base-secondary-color;
      color: $font-color;
    }
  }
}

.tabs-information-container {
  //background: linear-gradient(90deg, rgba(199, 40, 155, 1) 0%, rgba(199, 40, 145, 1) 50%, rgba(191, 3, 184, 1) 100%);
}

.latest-match-tab {
  //padding: 10px;
  background: $base-color;

  .latest-match-top-div {
    padding: 10px;
    background: linear-gradient(90deg, rgb(249, 41, 135) 0%, rgb(200, 50, 192) 50%, rgb(150, 60, 253) 100%);
  }
}

.team-of-week-img-container {
  img {
    margin-left: -12px;
  }
}

.team-of-week-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(227, 11, 167, 1) 44%, rgba(194, 0, 128, 1) 100%, rgba(191, 3, 184, 1) 100%);

  .text-container {
    background: $base-color;
    margin-left: -50px;
    width: 100%;
    height: 85px;
    padding: 10px;

    p:nth-child(1) {
      font-size: 16px;
      font-style: italic;
      font-weight: 100;
      line-height: 20px;
      color: $subtitle-color;
    }

    p:nth-child(2) {
      font-size: 36px;
      font-style: italic;
      color: white;
      font-weight: 500;
      line-height: 20px;
    }
  }
}

.latest-tab-blog {
  padding: 10px;
  background: $base-color;

  .latest-blog-information-container {
    padding: 10px;

    p:nth-child(1) {
      color: $headline-color;
      font-weight: 100;
    }

    p:nth-child(2) {
      font-size: 30px;
      color: $base-secondary-color;
      line-height: 20px;
    }

    p:nth-child(3) {
      color: $subtitle-color;
      font-size: 15px;
      font-family: sans-serif;
      padding-top: 10px;
    }
  }
}

.latest-news-section {
  background: $base-secondary-color;

  .latest-news-container {
    padding: 10px;

    p:nth-child(1) {
      font-size: 25px;
    }

    .divider {
      width: 100%;
      height: 1.5px;
      border-radius: 5px;
      background: $subtitle-color;
    }

    .news-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .news-container-img {
        width: 150px !important;
      }

      .news-container-information {
        p:nth-child(1) {
          color: $headline-color;
          font-size: 14px;
        }

        p:nth-child(2) {
          color: $font-color;
          font-weight: lighter;
        }
      }
    }
  }
}

.to-more-page {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;

  p:nth-child(1) {
    font-size: 18px !important;
  }
}

.page-divider {
  display: flex;
  justify-content: center;
  padding-top: 20px;

  .page-divider-div {
    width: 90%;
    height: 6px;
    background: linear-gradient(90deg, rgb(150, 60, 253) 0%, rgb(200, 50, 192) 50%, rgb(249, 41, 135) 100%);
  }
}

.in-section-divider {
  margin-bottom: 20px;
  height: 4px;
  background: linear-gradient(90deg, rgb(150, 60, 253) 0%, rgb(200, 50, 192) 50%, rgb(249, 41, 135) 100%);
}

//latest-matches-result
.match-table-header {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;

  p:nth-child(1) {
    color: $headline-color;
  }
}

.matches-results-container {
  min-width: 370px;
}

.match-results {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: $border;
  //height: 40px;
  p {
    transition: 0.3s;
  }

  &:hover {
    background: linear-gradient(90deg, rgb(150, 60, 253) 0%, rgb(200, 50, 192) 50%, rgb(249, 41, 135) 100%);

    p {
      color: #fdfdfe !important;
    }
  }

  .team-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    p {
      font-size: 26px !important;
      margin: 0 10px 0 10px;
    }
  }

  .result-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $base-color;
    height: 30px;

    p {
      display: flex;
      align-items: center;
      padding: 10px;
      margin: 0;
      height: 30px;
      font-size: 16px !important;
      color: $base-secondary-color;
    }
  }

  .view-results-detail {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 0;
  }
}

.view-all {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px;
  height: 20px;
  //box shadow bottom
  -webkit-box-shadow: 0 8px 6px -6px $subtitle-color;
  -moz-box-shadow: 0 8px 6px -6px $subtitle-color;
  box-shadow: 0 8px 6px -6px $subtitle-color;

  svg {
    fill: $headline-color;
    transition: 0.3s;
  }

  p {
    transition: 0.3s;
  }

  &:hover {
    p {
      text-decoration: underline;
      color: $headline-color;
    }

    svg {
      margin-right: -5px;
    }
  }
}

.league-branding-banner {
  background: $headline-color;
  padding: 15px;
  border-radius: 8px 8px 0 0;
  text-align: center;

  .results-table-banner {
    background: $base-secondary-color;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: -20px;
    border-radius: 8px 8px 0 0;

  }
}
