<div class="tabs-container-wrapper pt-3">
  <ul class="nav nav-pills mb-3 tabs-container" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-latest-tab" data-bs-toggle="pill" data-bs-target="#pills-latest"
              type="button" role="tab" aria-controls="pills-latest" aria-selected="true">Latest
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-matches-tab" data-bs-toggle="pill" data-bs-target="#pills-matches"
              type="button" role="tab" aria-controls="pills-matches" aria-selected="false">Matches
      </button>
    </li>
  </ul>
</div>

<div class="tabs-container-wrapper">
  <div class="tab-content" id="pills-tabContent ">
    <!--  latest news tab-div-->
    <div class="tab-pane fade show active latest-match-tab" id="pills-latest" role="tabpanel"
         aria-labelledby="pills-latest-tab">
      <!-- headline news-->
      <div class="latest-match-top-div">
        <div class="row p-2">
          <div class="col-6 team-of-week-img-container">
            <img src="https://picsum.photos/200" alt="fetching">
          </div>
          <div class="col-6 team-of-week-container">
            <div class="text-container">
              <p>Alan Odika</p>
              <p>TEAM OF THE WEEK</p>
            </div>
          </div>
        </div>
        <div class="row latest-tab-blog">
          <div class="latest-blog-information-container">
            <p>Talking Tactics</p>
            <p>New Signings: Armstrong can fill Ings boots</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, accusamus alias dicta doloremque hic ipsa
              magni minima minus modi mollitia nobis pariatur provident quas quo quod rem repellat ut, voluptates?</p>
          </div>
        </div>
      </div>
      <!-- section divider-->
      <div class="page-divider">
        <div class="page-divider-div"></div>
      </div>
      <!-- latest news-->
      <section class="latest-news-section">
        <div class="latest-news-container">
          <p>Latest News</p>
          <div class="divider mb-3"></div>
          <div class="news-container">
            <div class="news-container-img m-1">
              <img src="https://picsum.photos/150/150" alt="fetching">
            </div>
            <div class="news-container-information m-1">
              <p>Talking tactics</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda , temporibus ut.</p>
            </div>
          </div>
          <div class="divider mt-2"></div>
          <div class="to-more-page">
            <p>Latest news -></p>
          </div>


        </div>

      </section>
      <!-- section divider-->
      <div class="page-divider">
        <div class="page-divider-div"></div>
      </div>
      <!-- club news-->
      <section class="latest-news-section">
        <div class="latest-news-container">
          <p>Club News</p>
          <div class="divider mb-3"></div>
          <div class="news-container">
            <div class="news-container-img m-1">
              <img src="https://picsum.photos/150/150" alt="fetching">
            </div>
            <div class="news-container-information m-1">
              <p>Talking tactics</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda , temporibus ut.</p>
            </div>
          </div>
          <div class="divider mt-2"></div>
          <div class="to-more-page">
            <p>Latest news -></p>
          </div>
        </div>

      </section>
      <!-- sponsors section-->
      <section class="latest-news-section p-3">
        <div class="in-section-divider"></div>
        <div class="sponsors-container row">
          <div class="sponsor-logo-container col-6 border-end border-top">
            <div class="text-center news-container-img m-1">
              <img src="https://picsum.photos/100/50" alt="fetching">
              <p>Trendsetters</p>
            </div>
          </div>
          <div class="sponsor-logo-container col-6  border-top">
            <div class="text-center news-container-img m-1">
              <img src="https://picsum.photos/100/50" alt="fetching">
              <p>Trendsetters</p>
            </div>
          </div>
          <div class="sponsor-logo-container col-6 border-bottom border-top border-end">
            <div class="text-center news-container-img m-1">
              <img src="https://picsum.photos/100/50" alt="fetching">
              <p>Trendsetters</p>
            </div>
          </div>
          <div class="sponsor-logo-container col-6 border-bottom border-top">
            <div class="text-center news-container-img m-1">
              <img src="https://picsum.photos/100/50" alt="fetching">
              <p>Trendsetters</p>
            </div>
          </div>
        </div>
      </section>
      <!-- section divider-->
      <!--      <div class="page-divider">-->
      <!--        <div class="page-divider-div"></div>-->
      <!--      </div>-->
      <!-- footer section-->
      <section class="footer-section">
        <div class="row">
          <div class="col-6">
            Home
          </div>
          <div class="col-6">
            Players
          </div>
          <div class="col-6">
            Home
          </div>
          <div class="col-6">
            Players
          </div>
          <div class="col-6">
            Home
          </div>
          <div class="col-6">
            Players
          </div>
          <div class="col-6">
            Home
          </div>
          <div class="col-6">
            Players
          </div>
          <div class="col-6">
            Home
          </div>
          <div class="col-6">
            Players
          </div>
          <div class="col-6">
            Home
          </div>
          <div class="col-6">
            Players
          </div>
        </div>

      </section>
    </div>
    <!--  matches tab-div-->
    <div class="tab-pane fade matches-tab" id="pills-matches" role="tabpanel" aria-labelledby="pills-matches-tab">
      <!--  segment result selector-->
      <!-- upcoming matches segment-->
      <div class="segment-wrapper">
        <div class="page-divider">
          <div class="page-divider-div"></div>
        </div>
        <div class="match-table-header">
          <p>Upcoming Matches</p>
          <div class="logo-holder">
            <img src="https://picsum.photos/50/10" alt="fetching">
          </div>
        </div>
        <app-fixtures-list></app-fixtures-list>
      </div>
      <!-- match results segment-->
      <div class="segment-wrapper">
        <div class="page-divider">
          <div class="page-divider-div"></div>
        </div>
        <div class="match-table-header">
          <p>Matchweek 2</p>
          <div class="logo-holder">
            <img src="https://picsum.photos/50/10" alt="fetching">
          </div>
        </div>
        <app-results-list></app-results-list>
      </div>
      <!-- tables results section-->
      <div class="match-table-results">
        <div class="league-branding-banner">
          <img src="https://picsum.photos/50/10" alt="fetching">
          <div class="results-table-banner">
            <p>Results Table</p>
          </div>
        </div>
        <app-table-list></app-table-list>
      </div>

    </div>
  </div>
</div>

