<div class="tabs-container-wrapper">
  <ul class="nav nav-pills mb-3 tabs-container" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-latest-tab" data-bs-toggle="pill" data-bs-target="#pills-latest"
              type="button" role="tab" aria-controls="pills-latest" aria-selected="true">Latest
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-matches-tab" data-bs-toggle="pill" data-bs-target="#pills-matches"
              type="button" role="tab" aria-controls="pills-matches" aria-selected="false">Matches
      </button>
    </li>
  </ul>
</div>

<div class="tabs-container-wrapper">
  <div class="tab-content" id="pills-tabContent ">
    <!--  latest news tab-div-->
    <div class="tab-pane fade show active latest-match-tab" id="pills-latest" role="tabpanel"
         aria-labelledby="pills-latest-tab">
      <!-- headline news-->
      <div class="latest-match-top-div">
        <div class="row p-2">
          <div class="col-6 team-of-week-img-container">
            <img src="https://picsum.photos/200" alt="fetching">
          </div>
          <div class="col-6 team-of-week-container">
            <div class="text-container">
              <p>Alan Odika</p>
              <p>TEAM OF THE WEEK</p>
            </div>
          </div>
        </div>
        <div class="row latest-tab-blog">
          <div class="latest-blog-information-container">
            <p>Talking Tactics</p>
            <p>New Signings: Armstrong can fill Ings boots</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, accusamus alias dicta doloremque hic ipsa
              magni minima minus modi mollitia nobis pariatur provident quas quo quod rem repellat ut, voluptates?</p>
          </div>
        </div>
      </div>
      <!-- latest news-->
      <section class="latest-news-section">
        <div class="latest-news-container">
          <p>Latest News</p>
          <div class="divider mb-3"></div>
          <div class="news-container">
            <div class="news-container-img m-1">
              <img src="https://picsum.photos/150/150" alt="fetching">
            </div>
            <div class="news-container-information m-1">
              <p>Talking tactics</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda , temporibus ut.</p>
            </div>
          </div>
          <div class="divider mt-2"></div>
          <div class="to-more-page">
            <p>Latest news -></p>
          </div>


        </div>

      </section>
    </div>

    <!-- club news-->
    <section>

    </section>
    <!-- sponsors section-->
    <section>

    </section>
    <!-- footer section-->
    <section>

    </section>
    <!--  matches tab-div-->
    <div class="tab-pane fade" id="pills-matches" role="tabpanel" aria-labelledby="pills-matches-tab">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut consequatur cupiditate dolore dolores
      necessitatibus odio, reiciendis repudiandae soluta vel vitae voluptas! Ad aliquam corporis dolorem error facilis
      hic rem?
    </div>
  </div>
</div>

