<div class="tabs-container-wrapper">
  <ul class="nav nav-pills mb-3 tabs-container" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
              type="button" role="tab" aria-controls="pills-home" aria-selected="true">Latest
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
              type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Matches
      </button>
    </li>
  </ul>
</div>

<div class="tabs-container-wrapper tabs-information-container">
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad architecto at beatae blanditiis dolore, error fugit inventore labore mollitia odio, quam, quibusdam quidem tenetur ut velit? Beatae consequatur magni odio.
    </div>

    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut consequatur cupiditate dolore dolores necessitatibus odio, reiciendis repudiandae soluta vel vitae voluptas! Ad aliquam corporis dolorem error facilis hic rem?
    </div>
  </div>
</div>

