<section class="player-img-section">
  <div class="player-container">
    <div class="ms-3 mt-3 img-holder">
      <img src="assets/logos/player-img.png" alt="">
    </div>
    <div class="me-5">
      <h5>64</h5>
      <p>Aaron Ramsey</p>
    </div>
  </div>
</section>
<section class="player-information">
  <!--  club information tabs-->
  <div class="player-info-tabs mt-3">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button"
                role="tab" aria-controls="home" aria-selected="true">Overview
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false">Squad
        </button>
      </li>
    </ul>
  </div>
  <div class="player-info-tab-wrapper">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
        <h3>Personal Details</h3>
        <hr class="player-view-hr">
        <div class="player-details-container">
          <p>Nationality</p>
          <div>
            <div>
              <img src="assets/img/england.jpg" height="20" width="20" alt="fetching country flag">
            </div>
            <p>England</p>
          </div>
        </div>
        <hr class="player-view-hr">
        <div class="player-details-container">
          <p>Date of Birth</p>
          <p>21/01/2003(18)</p>
        </div>
        <hr class="player-view-hr">
        <!-- section divider-->
        <div class="page-divider" style="background: #37003c">
          <div class="page-divider-div"></div>
        </div>
      </div>
      <!-- club information and position-->
      <div class="player-details-container pt-3">
        <p>Club</p>
        <div class="player-details-container">
          <div>
            <p>Aston Villa</p>
          </div>

          <img alt="fetching club logo" height="20" src="assets/img/england.jpg" width="20">
        </div>
      </div>

      <hr class="player-view-hr-pos">

      <div class="player-details-container">
        <p>Position</p>
        <p>Midfielder</p>
      </div>

      <hr class="player-view-hr-pos">
      <!-- section divider-->
      <div class="page-divider">
        <div class="page-divider-div"></div>
      </div>

      <!-- player records-->
      <div class="player-records-container pt-3">
        <h3>Premier League Record</h3>
        <hr class="player-view-hr">

        <div>
          <p>Appearances</p>
          <p>0</p>
        </div>
        <hr class="player-view-hr-pos">

        <div>
          <p>Goals</p>
          <p>0</p>
        </div>
        <hr class="player-view-hr-pos">

        <div>
          <p>Assists</p>
          <p>0</p>
        </div>
        <hr class="player-view-hr-pos">

      </div>
      <!-- section divider-->
      <div class="page-divider" style="background: #37003c">
        <div class="page-divider-div"></div>
      </div>

      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
    </div>
  </div>
</section>

