/* You can add global styles to this file, and also import other style files */
//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
$base-color: #37003c;
$base-secondary-color: #fdfdfe;
$headline-color: #fd2881;
$font-color: rgb(36, 36, 36);
$subtitle-color: #d6cbd9;
$border: 2px solid #f1f1f2;
@font-face {
  font-family: Premier;
  src: local("Premier"),
  url("assets/fonts/Premier-Sans.woff");
}
body {
  margin: 0;
  font-family: Premier, sans-serif !important;
  height: 100%;
  color: $font-color;


  p {
    margin: 0;
    color: $base-color;
  }
  .row {
    margin: 0 !important;
    padding: 0 !important;
  }
}

thead th {
  background-color: #f6f7f9;
  padding: 15px 0 15px 15px;
  color: $base-color;
}

tbody td {
  padding: 15px ;
}
thead th:first-child {
  border-radius: 5px 0 0 5px;
}
thead th:last-child {
  border-radius: 0 5px 5px 0;
}
/* remove border from th... */
/* !important is only required in stack snippet, probably not in your production code */

.table > thead > tr > th {
  border: none !important;
}

/* remove border from first tbody row... */
.table > tbody > tr > td,
.table > tbody > tr > th {
  border-top: none;
  border-bottom: $border;
}
.logo-img-table {
  width: 20px;
  height: 20px;
}
.logo-img {
  width: 40px;
  height: 40px;
}
