<section class="player-img-section">
  <div class="player-container">
    <div class="ms-3 mt-3 img-holder">
      <img src="assets/logos/player-img.png" alt="" >
    </div>
    <div class="me-5">
      <h5>64</h5>
      <p>Aaron Ramsey</p>
    </div>
  </div>
</section>
<section class="player-information">
  <!--  club information tabs-->
  <div class="player-info-tabs mt-3">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true">Overview
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false">Squad
        </button>
      </li>
    </ul>
  </div>
</section>

